<ion-header translucent>
  <ion-toolbar>
    <ion-title class="ion-text-center">Welcome Back</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding login-content">
  <div class="login-card">
    <ion-text color="primary">
      <h2 class="ion-text-center">Login</h2>
    </ion-text>

    <ion-item lines="inset">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" autocomplete="email" clearInput></ion-input>
    </ion-item>

    <ion-item lines="inset">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" autocomplete="current-password" clearInput></ion-input>
    </ion-item>

    <ion-button expand="block" shape="round" class="login-btn" (click)="onLogin()">Login</ion-button>

    <ion-text *ngIf="errorMessage" color="danger">
      <p class="ion-text-center">{{ errorMessage }}</p>
    </ion-text>

    <div class="ion-text-center">
      <ion-text color="medium">Don't have an account?</ion-text>
      <ion-button fill="clear" size="small" (click)="onRegister()">Register</ion-button>
    </div>
  </div>
</ion-content>
