<ion-header translucent>
  <ion-toolbar>
    <ion-title class="ion-text-center">Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding register-content">
  <div class="register-card">
    <ion-text color="primary">
      <h2 class="ion-text-center">Register</h2>
    </ion-text>

    <ion-item lines="inset">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" autocomplete="email" clearInput></ion-input>
    </ion-item>

    <ion-item lines="inset">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" autocomplete="new-password" clearInput></ion-input>
    </ion-item>

    <ion-button expand="block" shape="round" class="register-btn" (click)="register()">Register</ion-button>

    <ion-text *ngIf="message" >
      <p class="ion-text-center">{{ message }}</p>
    </ion-text>

    <div class="ion-text-center">
      <ion-text color="medium">Already have an account?</ion-text>
      <ion-button fill="clear" size="small" (click)="goToLogin()">Login</ion-button>
    </div>
  </div>
</ion-content>
