<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ionic-card>
    <ion-list>
      <ion-item *ngFor="let task of tasks">
        <ion-label>
          <h2>{{ task.title }}</h2>
          <p>{{ task.description }}</p>
          <p>Due: {{ task.due_date }}</p>
          <p>Status: {{ task.status }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ionic-card>
</ion-content>
